@font-face {
  font-family: "Avenir-Blk";
  src: url("../fonts/AvenirLTStd-Black.otf");
}

body {
  background-image: url("../img/homepage.jpg");
  background-clip: content-box;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  color: #080639;
}

.main-title {

  font-family: Avenir-Blk;

}

.box {
  font-family: Avenir-Blk;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 3px;
}

.info-date {
  font-size: small;
  margin-left: 12px;
}

.info-data {
  display: inline-block;
  margin-left: 25px;
}

.info-spacing {
  line-height: 0.1px;
}

.nav-i {

  background-color: #080639;
  font-family: Avenir-Blk;
  color: #ffffff;

}

.spacetop {

  margin-top: 20px;

}

.spacebot {

  margin-bottom: 20px;

}

.special-container {

  width: 50vh;

}

.pub-container {
  width: 60vh;
}

.indent {
  text-align: left;
  margin-left: 30px;
}

.img-adjust {
  margin-top: -10px;
  border-radius: 50px;
  border: 2px solid green;
}
